In [6]:
import pandas as pd

# Boston pour la lecture préciser l'encodage utf8 afin d'éviter les problèmes de caractères
# Nous reverrons
boston = pd.read_csv('../../data/boston.csv', encoding="utf8")

# 1. Formatez les données de la colonne TOTAL EARNINGS pour les rendre compatibles avec un type numérique.

# On supprime les lignes qui posent problèmes exploration des données et surtout la question posée nous oblige
# à considérer le type des données.
boston = boston[ boston['TOTAL EARNINGS'] != 'TOTAL EARNINGS' ]

boston.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Williams,David C.",Boston Police Department,Police Officer,"95,184.68",NaN,"503,025.78","45,176.88","5,307.62","24,610.00","4,375.69","677,680.65",02356
1,"Earley,John W",Boston Police Department,Police Lieutenant,"26,130.54","13,001.47","204,120.61",668.36,NaN,440.00,"6,532.63","250,893.61",02131
2,"Bucelewicz,Helen",Boston Police Department,Police Officer,"8,676.89",NaN,"200,000.00",NaN,NaN,NaN,NaN,"208,676.89",02135
3,"Evans,William B",Boston Police Department,Commissioner (Bpd),"149,999.93","3,461.56","165,858.44",NaN,NaN,NaN,NaN,"319,319.93",02127
4,"Jones,Ronnie C",Boston Police Department,Police Officer,"462,149.98",NaN,"114,973.46",NaN,NaN,NaN,NaN,"577,123.44",02126

In [7]:
boston['TOTAL EARNINGS'] = boston['TOTAL EARNINGS'].str.replace(',', '')
boston['TOTAL EARNINGS'] = boston['TOTAL EARNINGS'].astype(float)

boston.head()

,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,"Williams,David C.",Boston Police Department,Police Officer,"95,184.68",NaN,"503,025.78","45,176.88","5,307.62","24,610.00","4,375.69",677680.65,02356
1,"Earley,John W",Boston Police Department,Police Lieutenant,"26,130.54","13,001.47","204,120.61",668.36,NaN,440.00,"6,532.63",250893.61,02131
2,"Bucelewicz,Helen",Boston Police Department,Police Officer,"8,676.89",NaN,"200,000.00",NaN,NaN,NaN,NaN,208676.89,02135
3,"Evans,William B",Boston Police Department,Commissioner (Bpd),"149,999.93","3,461.56","165,858.44",NaN,NaN,NaN,NaN,319319.93,02127
4,"Jones,Ronnie C",Boston Police Department,Police Officer,"462,149.98",NaN,"114,973.46",NaN,NaN,NaN,NaN,577123.44,02126

In [16]:
# 2. Ordonnez les écarts par ordre décroissant.

# On groupe traditionnellement les données puis on applique une fonction d'aggrégation.
# Cela permet de garder dans une variable, qui est un objet, ici grouped_gain, les groupements pour d'autres
# questions ou traitements sur les données.
grouped_gain = boston.groupby('DEPARTMENT_NAME')['TOTAL EARNINGS']
grouped_gain = grouped_gain.agg(lambda x : x.max() - x.min())
grouped_gain.sort_values(ascending=False).head()

DEPARTMENT_NAME
Boston Police Department      684305.00
Superintendent                449065.20
Boston Fire Department        259458.37
Inspectional Services Dept    250251.78
Jackson/Mann K-8              245465.59
Name: TOTAL EARNINGS, dtype: float64